.footer {
  border-top: 1px solid #ffffff;
  padding: 28px 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  color: #3b2f2a;

  .header-desktop__logo {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;

    .footer__logo-img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }

  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .footer__title {
      font-size: 15px;
      font-weight: 700;
      color: #3b2f2a;
    }

    .footer__item {
      font-size: 14px;
      color: #8b7a73;
    }

    .hover {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #ff7a59;
      }
    }
  }

  @media screen and (max-width: 991.98px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 768px) {
    padding: 24px 5%;
    .header-desktop__logo {
      display: none;
    }
  }

  @media screen and (max-width: 544.98px) {
    padding: 24px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
